.main-productContainer {
  padding: 35px;
  .top {
    display: flex;
    align-items: center;
    padding-bottom: 15px;

    .red-triangle {
      height: 24px;
      width: 10px;
      background-color: #db4444;
      border-radius: 4px;
      margin-right: 6px;
    }
    .text {
      color: #db4444;
    }
  }
  .mid {
    display: flex;
    align-items: center;
    b {
      font-size: 28px;
      display: block ruby;
    }
    .main-time {
      display: flex;
      align-items: center;
      width: 12rem;
      justify-content: space-between;
      padding-left: 9.5rem;
      padding-right: 70rem;

      .time-text {
        font-size: 6px;
        text-align: center;
      }
      .time-number {
        font-size: 22px;
        text-align: center;
        display: block ruby;
      }
    }
    .arrow-icon {
      display: flex;
      align-items: center;
      img {
        height: 3.5rem;
        margin-right: 5px;
      }
    }
  }
  .cards {
    display: flex;
    overflow: auto;
  }
  .product-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    button {
      background-color: #db4444;
      color: white;
      border: none;
      height: 35px;
      width: 150px;
      border-radius: 5px;
    }
  }
}
