.top {
     height: 48px;
     width: 1440px;
     left: 0px;
     top: 0px;
     border-radius: 0px;

     position: absolute;
     width: 1440px;
     height: 48px;
     left: 0px;
     top: 0px;
     background-color: black;
}
