@use '../../constants/colors';

.footer-container {
     background-color: colors.$black;

     .footer-list-container {
          height: 20rem;
          padding-top: 5rem;
          padding-right: 12.8rem;
          padding-bottom: 6rem;
          padding-left: 12.8rem;
          display: flex;
          justify-content: space-around;
     }
     .copyright {
          display: flex;
          justify-content: center;
          align-items: center;
          border-top: 1px solid colors.$gary-light;
          padding-top: 2.5rem;
          padding-bottom: 2.5rem;
          img {
               height: 1.6rem;
               margin-right: 0.5rem;
          }
          .copyright-text {
               font-size: 1.4rem;
               color: colors.$gary-light;
               letter-spacing: 0.1rem;
               border: transparent;
          }
     }
}
