.footer-container {
     height: 200px;
     background-color: black;
     padding-top: 50px;
     padding-right: 128px;
     padding-bottom: 100px;
     padding-left: 128px;
     display: flex;
     justify-content: space-around;
}
