.button-2 {
     width: 280px;
     background-color: white;
     border: 1 px solid black;
     height: 40px;
     color: black;
     border-radius: 4px;
     margin-bottom: 15px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 10px;
     img {
          margin-right: 10px;
          height: 18px;
     }
}
